.social-media
	.github-fork
		%a{target: "_blank", href: "https://github.com/michiganhackers/michiganhackers-website"}= "Fork this site on GitHub"
	.fb-like{"data-href" => "https://www.facebook.com/michiganhackers", "data-send"=> "false", "data-layout"=> "button_count", "data-width"=> "88", "data-show-faces"=> "false", "data-font"=> "arial"}
