- css_for_head "cseducation"
- js_for_head "cs_edu_countdown"

%img.cse-banner{src: "/assets/images/cseducation_banner.jpg"}
%p.countdown-text.center= "Congrats! You found us early. The puzzles go live on December 3rd @ 8:00am"

// Counter
.col1{style:"width:15px;padding:0px;"}
%h1#hour.countdown.center.col3= ""
%h1#mins.countdown.center.col3= ""
%h1#secs.countdown.center.col3= ""

// Move to the next row
.clear

// Labels
.col1{style:"width:15px;padding:0px;"}
%h3.col3.center="Hours"
%h3.col3.center="Minutes"
%h3.col3.center="Seconds"