- css_for_head "home"
- js_for_head "home"

.row.hero-pane
	.col10
		%p.text-large.center
			%strong MHacks:Impact
			is this weekend!
		%h5.center{style:"font-weight:normal;font-size:12px;"}
			%a{href: "http://mhacks.org", style: "color:#000;"}
				%i visit mhacks.org to register

.row.second-pane
	.col5
		= render partial: "static_pages/home_events"
	.col1     
	.col4
		= render partial: "static_pages/home_social"
		= render partial: "static_pages/home_social_media"
