- css_for_head "home"
- js_for_head "home"

.row.hero-pane
	.col10
		%p.text-large.center
			A community for all
			%strong Hackers @ Michigan

.row.second-pane
	.col5
		= render partial: "static_pages/home_events"
	.col1     
	.col4
		= render partial: "static_pages/home_social"
		= render partial: "static_pages/home_social_media"
