/* Grid variables */
/* Utility Styles */
/* line 4, ../../../app/assets/stylesheets/global.scss */
.clear {
  clear: both; }

/* line 5, ../../../app/assets/stylesheets/global.scss */
.text-large {
  font-size: 32px;
  line-height: 40px; }

/* line 6, ../../../app/assets/stylesheets/global.scss */
.text-normal {
  font-size: 16px;
  line-height: 20px; }

/* Input Styles */
/* line 9, ../../../app/assets/stylesheets/global.scss */
input.radio-btn {
  vertical-align: middle; }

/* line 13, ../../../app/assets/stylesheets/global.scss */
span.radio-text {
  font-size: 12px;
  line-height: 12px;
  margin-right: 16px;
  vertical-align: middle; }

/* Grid Styles */
/* line 22, ../../../app/assets/stylesheets/global.scss */
.container {
  width: 960px;
  height: 100%;
  margin: 0px auto; }

/* line 28, ../../../app/assets/stylesheets/global.scss */
.row:after {
  clear: both;
  display: table;
  content: ""; }

/* line 34, ../../../app/assets/stylesheets/global.scss */
.row {
  width: 100%; }

/* line 38, ../../../app/assets/stylesheets/global.scss */
.row .row {
  padding: 20px 0px; }

/* line 43, ../../../app/assets/stylesheets/global.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col8, .col10, .col12,
.col10-no-padding {
  float: left;
  min-height: 1px;
  padding: 0px 10px; }

/* line 50, ../../../app/assets/stylesheets/global.scss */
.col1 {
  width: 60px; }

/* line 51, ../../../app/assets/stylesheets/global.scss */
.col2 {
  width: 140px; }

/* line 52, ../../../app/assets/stylesheets/global.scss */
.col3 {
  width: 220px; }

/* line 53, ../../../app/assets/stylesheets/global.scss */
.col4 {
  width: 300px; }

/* line 54, ../../../app/assets/stylesheets/global.scss */
.col5 {
  width: 380px; }

/* line 55, ../../../app/assets/stylesheets/global.scss */
.col6 {
  width: 460px; }

/* line 56, ../../../app/assets/stylesheets/global.scss */
.col8 {
  width: 620px; }

/* line 57, ../../../app/assets/stylesheets/global.scss */
.col10 {
  width: 780px; }

/* line 58, ../../../app/assets/stylesheets/global.scss */
.col12 {
  width: 940px; }

/* line 60, ../../../app/assets/stylesheets/global.scss */
.col10-no-padding {
  width: 800px;
  padding: 0px; }

/* Skeleton, Heading, and Anchor Styles */
/* line 63, ../../../app/assets/stylesheets/global.scss */
body {
  position: relative;
  padding-top: 160px; }

/* line 68, ../../../app/assets/stylesheets/global.scss */
strong {
  font-weight: bold;
  text-transform: uppercase; }

/* line 73, ../../../app/assets/stylesheets/global.scss */
i {
  font-weight: lighter;
  font-style: italic; }

/* line 78, ../../../app/assets/stylesheets/global.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: uppercase; }

/* line 83, ../../../app/assets/stylesheets/global.scss */
h2 {
  font-size: 16px; }

/* line 87, ../../../app/assets/stylesheets/global.scss */
p, span {
  line-height: 18px;
  font-weight: lighter; }

/* line 96, ../../../app/assets/stylesheets/global.scss */
a {
  text-decoration: none; }

/* Header and Nav Styles */
/* line 101, ../../../app/assets/stylesheets/global.scss */
.header-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 160px; }

/* line 109, ../../../app/assets/stylesheets/global.scss */
.header-inner {
  background: #ff3c00;
  height: 140px; }

/* line 114, ../../../app/assets/stylesheets/global.scss */
.logo-wrap {
  padding-bottom: 0px !important; }
  /* line 117, ../../../app/assets/stylesheets/global.scss */
  .logo-wrap img {
    width: 48px;
    height: 60px; }
  /* line 122, ../../../app/assets/stylesheets/global.scss */
  .logo-wrap h1 {
    padding-bottom: 26px;
    font-size: 60px;
    color: #FFF; }

/* line 129, ../../../app/assets/stylesheets/global.scss */
.navbar-wrap {
  padding: 0px !important; }
  /* line 133, ../../../app/assets/stylesheets/global.scss */
  .navbar-wrap li a {
    font-weight: lighter;
    padding-bottom: 3px;
    color: #FFF; }
  /* line 139, ../../../app/assets/stylesheets/global.scss */
  .navbar-wrap li a:hover, .navbar-wrap li a.active {
    border-bottom: 4px solid #FFF; }

/* AJAX Response Styles */
/* line 147, ../../../app/assets/stylesheets/global.scss */
.ajax-response-text {
  display: inline-block;
  margin: 10px 0px;
  font-size: 13px;
  color: #ff3c00; }

/* line 154, ../../../app/assets/stylesheets/global.scss */
.ajax-response-text.error {
  color: #ff3c00; }

/* Footer Styles */
/* line 159, ../../../app/assets/stylesheets/global.scss */
.footer {
  margin-top: 20px;
  padding-bottom: 10px; }
  /* line 163, ../../../app/assets/stylesheets/global.scss */
  .footer p {
    text-align: center;
    font-size: 11px;
    line-height: 13px; }
