<meta itemprop="embedUrl" content="https://docs.google.com/spreadsheet/embeddedform?formkey=dFo2U3l0Vk40Rjc5QUt0cWZMR2ZxYXc6MQ">
<meta itemprop="faviconUrl" content="//ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png">

<div class="ss-form-container">
<div class="ss-form-heading"><h1 class="ss-form-title">Want to learn to code this year?</h1>
<p></p>
<div class="ss-form-desc ss-no-ignore-whitespace">Whether you&#39;re new to coding, or you have some programming courses under your belt, we have something to help you learn this year! Simply submit your email via the form below, and we&#39;ll send you some excellent resources to help you become a better coder.</div>

<hr class="ss-email-break" style="display:none;">
<div class="ss-required-asterisk"></div></div>
<div class="ss-form"><form action="https://docs.google.com/a/umich.edu/spreadsheet/formResponse?formkey=dFo2U3l0Vk40Rjc5QUt0cWZMR2ZxYXc6MQ&amp;theme=0AX42CRMsmRFbUy05MTBiNjdkYS1lOGM3LTQyMTgtOGEzZC02YWU3OTU2NDJiMzk&amp;ifq" method="POST" id="ss-form">


<br>
<div class="errorbox-good">
<div class="ss-item ss-item-required ss-radio"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Select which resources you&#39;d like sent there!
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="entry_0"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.0.group" value="I&#39;m just starting out!" class="ss-q-radio" id="group_0_1">
I&#39;m just starting out!</label></li> <li class="ss-choice-item"><label class="ss-choice-label"><input type="radio" name="entry.0.group" value="I know some programming basics. Send me something good!" class="ss-q-radio" id="group_0_2">
I know some programming basics. Send me something good!</label></li>
</ul></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Submit your email:
<span class="ss-required-asterisk">*</span></label>
<label class="ss-q-help" for="entry_1"></label>
<input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit"></div></div></form>
<script type="text/javascript">
      
      (function() {
var divs = document.getElementById('ss-form').
getElementsByTagName('div');
var numDivs = divs.length;
for (var j = 0; j < numDivs; j++) {
if (divs[j].className == 'errorbox-bad') {
divs[j].lastChild.firstChild.lastChild.focus();
return;
}
}
for (var i = 0; i < numDivs; i++) {
var div = divs[i];
if (div.className == 'ss-form-entry' &&
div.firstChild &&
div.firstChild.className == 'ss-q-title') {
div.lastChild.focus();
return;
}
}
})();
      </script></div>
<div class="ss-footer"><div class="ss-attribution"></div>
<div class="ss-legal"><span class="ss-powered-by">Powered by <a href="http://docs.google.com">Google Docs</a></span>
<span class="ss-terms"><small><a href="https://docs.google.com/spreadsheet/reportabuse?formkey=dFo2U3l0Vk40Rjc5QUt0cWZMR2ZxYXc6MQ&amp;source=https://docs.google.com/a/umich.edu/spreadsheet/viewform?formkey%3DdFo2U3l0Vk40Rjc5QUt0cWZMR2ZxYXc6MQ">Report Abuse</a>
-
<a href="http://www.google.com/accounts/TOS">Terms of Service</a>
-
<a href="http://www.google.com/google-d-s/terms.html">Additional Terms</a></small></span></div></div></div></body></html>