.events {
	
	.event-block {
		margin-bottom: 20px;
	}
	
	li {
		margin-top: 16px;
	}
	
	h3 {
		text-transform: none;
	}
	
	h5 {
		margin-top: 2px;
		font-size: 9px;
		text-transform: capitalize;
		color: #666;
	}
	
	p {
		padding-top: 10px;
	}

	span.see-more a {
		display: inline-block;
		font-size: 12px;
		margin: 16px 0px 0px 0px;
		text-transform: lowercase;
		color: #999;
		padding: 0px 4px;
		background: #EEE;
	}
	
	span.see-more a:hover {
		color: #666;
	}
}