@import "variables";

/* Utility Styles */
.clear { clear: both; }
.hide { display: none; }
.text-large { font-size: 32px; line-height: 40px; }
.text-normal { font-size: 16px; line-height: 20px; }
.center { text-align: center; }

/* Input Styles */
input.radio-btn {
	vertical-align: middle;
}

label.radio-text, span.radio-text {
	font-size: 12px;
	line-height: 12px;
	
	margin-right: 16px;
	vertical-align: middle;
}

label {
	text-transform: capitalize;
}

label.line-break {
	display: block;
}

fieldset {
	padding-bottom: 16px;
}

/* Grid Styles */
.container { 
	width: $outer-page-width; 
	height: 100%;
	margin: 0px auto;
}

.row:after { 
	clear: both; 
	display: table;
	content: "";
}

.row { 
	width: 100%;
}

.row .row {
	padding: $horizontal-gutter 0px; 
}

.col1, .col2, .col3, .col4, .col5, .col6, .col8, .col10, .col12,
.col10-no-padding { 
	float: left;
	min-height: 1px;
	
	padding: 0px $vertical-gutter; 
}

.col1 { width: ($column-inner-width); }
.col2 { width: ($column-inner-width * 2) + ($vertical-gutter * 2); }
.col3 { width: ($column-inner-width * 3) + ($vertical-gutter * 4); }
.col4 { width: ($column-inner-width * 4) + ($vertical-gutter * 6); }
.col5 { width: ($column-inner-width * 5) + ($vertical-gutter * 8); }
.col6 { width: ($column-inner-width * 6) + ($vertical-gutter * 10); }
.col8 { width: ($column-inner-width * 8) + ($vertical-gutter * 14); }
.col10 { width: ($column-inner-width * 10) + ($vertical-gutter * 18); }
.col12 { width: ($column-inner-width * 12) + ($vertical-gutter * 22); }

.col10-no-padding { width: ($column-inner-width * 10) + ($vertical-gutter * 20); padding: 0px; }

/* Skeleton, Heading, and Anchor Styles */
body {
	position: relative;
	padding-top: 160px;
}

strong {
	font-weight: bold;
	text-transform: uppercase;
}

i {
	font-weight: lighter;
	font-style: italic;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 16px;	
}

p {
	padding: 5px 0px;
}

p, span {
	line-height: 18px;
	font-weight: lighter;
}

h4, h5 {
	
}

a {
	text-decoration: none;
}

/* Header and Nav Styles */
.header-outer {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 160px;
}

.header-inner {
	background: $hackers-orange;
	height: 140px;
}

.logo-wrap {
	padding-bottom: 0px !important;
	
	img {
		width: 48px;
		height: 60px;
	}
	
	h1 {
		padding-bottom: 26px;		
		font-size: 60px;
		color: #FFF;
	}
}

.navbar-wrap {
	padding: 0px !important;
	
	li {
		a {
			font-weight: lighter;
			padding-bottom: 3px;
			color: #FFF;
		}
		
		a:hover, a.active {
			border-bottom: 4px solid #FFF;
		}
	}
}

/* AJAX Response Styles */

.ajax-response-text {
	display: inline-block;
	margin: 10px 0px;
	font-size: 13px;
}

.ajax-response-text.success {
	color: $hackers-green;
}

.ajax-response-text.error {
	color: $hackers-orange;
}

/* Footer Styles */
.footer {
	margin-top: 20px;
	padding-bottom: 10px;
	
	p {
		text-align: center;
		font-size: 11px;
		line-height: 13px;
	}
}
