@import "variables";

.hero-pane {
	max-height: 120px;
	min-height: 80px;
	overflow: hidden;
}

.social {

	p {
		padding-top: 16px;
	}

	.email-signup-form {
		padding-top: 6px;
		margin-top: 16px;
		
		border-top: 2px dashed #CCC;
		
		input.email-input {
			margin-left: 0px;
			padding: 2px;
			width: 200px;
			line-height: 100%;
		}
	
		fieldset {
			margin-top: 10px;
		}
	}
}

.social-media {
	position: relative;
	margin-top: 10px;
	height: 22px;

	.fb-like {
		position: absolute;
		left: 140px;
		top: 0px;
	}

	.github-fork {
		position: absolute;
		top: 0px;
		left: 0px;
		
		height: 16px;
		border: 2px solid $hackers-orange;
	
		a {
			vertical-align: top;
			background: $hackers-orange;
			line-height: 16px;
			color: #FFF;
			text-transform: uppercase;
			display: inline-block;
			font-size: 9px;
			margin: 1px;
			padding: 0px 2px;
			height: 14px;
		}
	}
}